@using Nop.Plugin.Widgets.VisitorsCrud.Models
@model ConfigurationListModel

@{
    Layout = "_ConfigurePlugin";
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Widgets.VisitorsCrud");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Plugins.Widgets.VisitorsCrud.AllVisitorsPageTitle")
    </h1>
    <div class="float-right">

        <a asp-controller="WidgetsVisitorsCrud" asp-action="Create" method="Get"><i class="fas fa-plus-square"></i>Add new visitor</a>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
    <div class="form-horizontal">
        <div class="cards-group">
            <div class="card card-default">
                <div class="card-body">
                    
                    
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "visitors-grid",
                        UrlRead = new DataUrl("Configure", "WidgetsVisitorsCrud", null),
                        /*UrlUpdate = new DataUrl("Edit", "WidgetsVisitorsCrud", null),*/
                        Length = 10,
                        LengthMenu = "10",
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(ConfigurationModel.Name))
                            {
                                Title = "Name",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Width = "100"
                            },
                            new ColumnProperty(nameof(ConfigurationModel.Age))
                            {
                                Title = "Age",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Width = "100"
                            },
                        new ColumnProperty(nameof(ConfigurationModel.Gender))
                            {
                                Title = "Gender",
                                Width = "100",
                                ClassName = NopColumnClassDefaults.CenterAll
                                /*Editable = true,
                                EditType = EditType.Number*/
                            },
                            new ColumnProperty(nameof(ConfigurationModel.Phone))
                            {
                                Title = "Phone",
                                Width = "100",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                /*Render = new RenderBoolean(),
                                Editable = true,
                                EditType = EditType.Checkbox*/
                            },
                            new ColumnProperty(nameof(ConfigurationModel.Id))
                            {
                                Title = "Details",
                                Width = "50",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonView(new DataUrl("Delete"))
                            },
                            new ColumnProperty(nameof(ConfigurationModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "50",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            }
                        }
                    })

                    <script>
                        function renderColumnConfigure(data, type, row, meta) {
                            if (row.ConfigurationUrl && row.ConfigurationUrl.length > 0) {
                                return '<a class="btn btn-default" href="' + row.ConfigurationUrl + '"><i class="fas fa-cog"></i>@T("Admin.ContentManagement.Widgets.Configure").Text</a>';
                            } else {
                                return '';
                            }
                        }
                    </script>

                    @*<table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Phone</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Age</td>
                                    <td>@item.Gender</td>
                                    <td>@item.Phone</td>
                                    <td>
                                        <a asp-controller="WidgetsVisitorsCrud" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                                        <a asp-controller="WidgetsVisitorsCrud" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>*@
                </div>
            </div>
        </div>
    </div>
    </div>
</section>